
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>de.ke.nn</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name=”description” content="明治デザイン研究部 公式サイト 主に明治大学生田キャンパスで活動しています。"/>
	<!-- Facebook and Twitter integration -->
  <meta property="og:title" content="de.ke.nn"/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content="http://dekenn.com"/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content="明治デザイン研究部 公式サイト"/>
  <meta name="twitter:title" content="明治デザイン研究部" />
  <meta name="twitter:card" content="Summary Card" />
  <meta name="twitter:site" content="@meiji_dlab" />


	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Roboto:300,400' rel='stylesheet' type='text/css'>
	<![endif]-->
</head>
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-6 offset-md-3">
        <div class="intro animate-box text-center">
          <h1><%= image_tag 'dekenn.png' %></h1>
          <h2>明治大学デザイン研究部</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<main id="main">
  <div class="container">
    <div class="col-lg-8 offset-lg-2 col-md-6 offset-md-3 text-center animate-box">
      <h2>About</h2>
      <p>ファッションショー企画制作</p>
      <p>写真展・動画制作</p>
      <p>明治大学生田キャンパス</p>
      <p>meiji.design.lab@gmail.com</p>
    </div>
  </div>
</main>
