
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>de.ke.nn</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name=”description” content="明治デザイン研究部 公式サイト 主に明治大学生田キャンパスで活動しています。"/>
	<!-- Facebook and Twitter integration -->
  <meta property="og:title" content="de.ke.nn"/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content="http://dekenn.com"/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content="明治デザイン研究部 公式サイト"/>
  <meta name="twitter:title" content="明治デザイン研究部" />
  <meta name="twitter:card" content="Summary Card" />
  <meta name="twitter:site" content="@meiji_dlab" />


	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Roboto:300,400' rel='stylesheet' type='text/css'>
	<![endif]-->
</head>
<body>
		<!-- END: header -->
		<section id="intro">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 col-md-6 offset-md-3">
						<div class="intro animate-box text-center">
							<h1><%= image_tag 'dekenn.png' %></h1>
						</div>
					</div>
				</div>
			<div>
		</section>

		<section id="work">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="grid animate-box" style="background-image: url(images/siri.jpg);background-position: center;background-size: contain;background-repeat: no-repeat;">
							<a class="image-popup text-center" href="#">
								<div class="work-title">
									<h3>本気の表現しりとり</h3>
									<span>Illustration, Print</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="grid animate-box" style="background-image: url(images/2019-cover.jpg);background-position: center;background-size: contain;background-repeat: no-repeat;">
							<a class="image-popup text-center" href="irojikake.html">
								<div class="work-title">
									<h3>イロジカケ</h3>
									<span>2019 fashion show</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-8">
						<div class="grid animate-box" style="background-image: url(images/2020-farewell-film.jpg);background-position: center;background-size: contain;background-repeat: no-repeat;">
							<a class="image-popup text-center" href="#">
								<div class="work-title">
									<h3>追いコンフィルム 2020</h3>
									<span class="white">video production</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="grid animate-box" style="background-image: url(images/2018-cover.jpg);background-size: cover;background-position: center;">
							<a class="image-popup text-center" href="ishin.html">
								<div class="work-title">
									<h3>維新</h3>
									<span class="white">2018 fashion show</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="grid animate-box" style="background-image: url(images/2017-cover.jpg);">
							<a class="image-popup text-center" href="masks.html">
								<div class="work-title">
									<h3>MASKs</h3>
									<span>2017 fashion show</span>
								</div>
							</a>
						</div>
					</div>
				<div class="col-md-6">
						<div class="grid animate-box" style="background-image: url(images/2016-cover.jpg);background-size: cover;background-position: center;">
							<a class="image-popup text-center" href="haretoke.html">
								<div class="work-title">
									<h3>ハレとケ</h3>
									<span>2016 fashion show</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="grid animate-box" style="background-image: url(images/2015-cover.jpg);background-position: center;">
							<a class="image-popup text-center" href="aru.html">
								<div class="work-title">
									<h3>在る</h3>
									<span class="white">2015 fashion show</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- END: box-wrap -->
	</body>
</html>
