<header role="banner" id="_header">
  <div class="container">
      <nav class="justify-content-center">
        <div class="row">
          <div class="col-lg-3">
            <div class="navbar-brand">
              <a class="logo" href="/"><%= image_tag 'iconDekenn.png' %></a>
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="nav text-center">
              <li><a href='/'>Work</a></li>
              <li><a href='/about'>About</a></li>
              <li><a href="/posts">Column</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <ul class="social list-group-horizontal-md">
              <li><a href="https://twitter.com/meiji_dlab" target="_blank"><%= image_tag 'iconTw.png', :size =>'25x25' %></a></li>
              <li><a href="http://Instagram.com/meiji_dekenn" target="_blank"><%= image_tag 'iconInsta.png', :size =>'25x25' %></a></li>
              <li><a href="https://www.youtube.com/channel/UCa1QfHws-nC-W6cde7tOg9Q/featured" target="_blank"><%= image_tag 'iconYouTube.png', :size =>'25x25' %></a></li>
            </ul>
          </div>
        </div>
        </nav>
    </div>
  </header>
