<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-6 offset-md-3">
        <div class="intro animate-box text-center">
          <h1>Column</h1>
        </div>
      </div>
    </div>
  </div>
    </section>

<main id="main">
  <div class="container">
    <div class="card-deck">
      <%= render partial: 'shared/post', collection: @posts %>
      </div>
      </div>
</main>
